.admin_img {
    width: 75%;

    margin-left: 15%;
    margin-top: 20px;
    border: #568BFF solid 5px;
}

.admin_beschreibung {
    text-align: center;
    color: #568BFF;
    font-size: 25px;
    margin-bottom: 20px;
}
.admin_img:hover{
    width: 75%;
    margin-left: 15%;
    margin-top: 20px;
    border: #E2007A solid 5px;
}

.admin_beschreibung:hover {
    text-align: center;
    color: #E2007A;
    font-size: 25px;
    margin-bottom: 20px;
}

a:hover{
    color: #E2007A;
}