#AuswahlErstellen{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 250px;
    border: solid #568BFF;
    padding: 10px;
}
#weiter{
    position: relative;
    margin-top: 10px;
}

#genre{
    width: 210px;
}

.VerInfo{
    width: 300px;
}
.VerInfo2{
    width: 150px;
}
