li {
    list-style-type: none;
}

#Tabelle{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
td{
    padding: 7px;
    color: #568BFF;
}
.test{
    border: black solid;
}
#Profbild{
    width:150px;
    height:150px;
    float:left;
    border-radius:50%;
    margin-right:25px;
}
.BildBearbeiten{

}
@media screen and (max-width: 500px){
    .BildBearbeiten{
        display: none;
    }

}
