.Text{
    font-size: 15px;
    position: relative;
    text-align: center;
    padding: 10px;
}

h1{
    margin-top: 20px;
    text-align: center;
    font-family: Helonia;
    font-style: Italic;
    color: #568BFF;
    font-size: 30px;
}
h2{
    font-size: 15px;
}
h6{
    font-size: 12px;
}
.inhalt{
    text-align: center;
    font-family: Georgia;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
}
.btn{
    padding-left: 10px;
    padding-right: 10px;
}

.Logo {
    width: 150px;
    margin-right: 35px;
    margin-left: 20px;
}

.btn{
margin-left: 10px;

}
.nav-item{
    font-size: 17px;
}
#Home{
    font-weight: bold;
}
.erstellen {
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.suchen{
    padding-left: 25px;
padding-right: 25px;
}
a{
    color: #568BFF;
}
a:hover{
    color:#E2007A;
    text-decoration: none;
}
i{
padding:7px;
}
i:hover {
    cursor: pointer;
    padding:6px;
    border  : 1px solid white;

}
.foot {
    font-size: 12px;
}

.Suche{
    margin: 0px;
}
#AuswahlSuchen{
    width: 280px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    border: solid 2px #568BFF;
    left: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#SuchenButton{
    position: relative;
    top: 10px;
}

.footer{

   padding:10px;
    background-color: lightgrey;

}

.Ergebnis{
    position: relative;
    left: 20px;
}

#VerName{
    color: #568BFF;
    font-size: 30px;
}
.dropdown{
   list-style-type: none;

}
.dropdown-menu{
padding: 0;
    margin-right:20px;
}

.bilder{
    width: 100%;
}

.caption{
    text-align: center;
    width: 50%;
    background-color: #568BFF;
    font-size: 40px;
    margin-bottom: 0px;
}

.caption2{
    font-size: 25px;
    text-align: center;
    width: 50%;
    background-color: #E2007A;
    margin-top: 0px ;
}
#AboutUs{
    font-size: 40px;
    border-bottom: #E2007A solid;
}

.text{
    margin: 50px;
    text-align: center;
}

.Pic{
    margin-top: 15%;
    width: 400px;
    float: right;
    border-radius: 50px;
}
.Pic2{
    float: left;
    margin-top: 15%;
    width: 400px;
    border-radius: 50px;
}
.test{
}

@media screen and (max-width: 990px) {
.Pic, .Pic2, .caption2, .caption {
    display: none;
}
}